
/* background image*/
body.home
{
background-image: url("/imgs/homepage.jpg");
background-size: cover;
background-attachment: fixed;
width: 100%;
height: 100%;
position: absolute;
background-position: center;
}

body
/* logo for home page */
.logo1
{
 position: absolute;
 top: 30px;
 left: 20px;
}


/* logo for details and contact  page */
.logo
{
 position: absolute;
 top: 55px;
 left: 20px;
}

/* for navigation bar and items*/
.others
{
 background-color: rgb(206, 108, 69);
 padding: 20pX 0;
 display: flex;
 list-style-type: none;
 justify-content: right;
 position: relative;
 top: 20px; 
}


li
{
    font-size: 1.5em;
    display: flex;
    margin: 15px;   
}


/* for navigation bar and items for home page */
.navhome
{
display: flex;
list-style-type: none;
justify-content: right;
position: relative;
top: 20px; 
}


/* name of the home page picture */
.picname
{
   text-align: center;
   font-size: 25px;
   padding-top: 23em;
}

.picname a
{
   color:white;
}

/* cookies box*/ 
.cookies
{
    background-color: rgb(255, 141, 88);
    color: #000000;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 100px;
    width: 20%;
    z-index: 999999;
}




/* when the page is active */
a.current
{
    color: aqua;
}

/* for background colours for a items*/
a
{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

/* change colour for a elemnts for home page*/
.navhome a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}


/* a items colours when hover*/
a:hover
{
    color: rgb(0, 187, 9);
}



/* background colour for all details page*/
body.detailP
{
    background-color: #C3B8B8;
}


/* over all footer elemnt*/
footer
{
     background-color: rgb(206, 108, 69);
     color: azure;
     padding: 20px 0;
     text-align: center;   
}


/*items for footer*/
.items
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px ;
}


/*items on the lft of the footer*/
.ftl
{
font-size: 16px;
padding-left: 20px;
}


/*items on the center of footer*/
.ftc
{
  font-size: 15px;
  align-items: center;  
}


/* items on the right*/
.ftr
{
    align-items:end;
    padding-right: 20px;
    
}

/* all headings */
.headings
{
    padding-top: 20px;
    font-size: 1.2em;  
}


/* top discription for page 3 */
.dis
{
   
    letter-spacing: normal;
    line-height: normal;
    text-indent: 40px;
    word-spacing: normal;
}


/* details page pictures, headding, and paragraph for page 2 and 3*/
.page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}



/* details headding for gallery*/
.page .heading
{
 width: 50%;
}


/* details page headding for page 2*/
.page .heading h3
{
   font-size: 3em;
   font-weight: bolder;
   padding-bottom: 10px;
   border-bottom: 3px solid #222; 
}


/* details page 2nd part of the  headdingfor page 2*/
.page .heading h3 span
{
   font-weight: 80; 
}


/* details page pictures for page 2 and 3*/
.page .it
{
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
}


/* details page pictures for page 2 and 3*/
.page .it .pic
{
   display: flex;
   flex-direction: column;
   width: 32.5%; 
}


/* details page targating img for page 2 and 3*/
.page .it .pic img
{
   width: 100%; 
   padding-bottom: 5px;
   border-radius: 10px;
}

.map
{
   

    align-items: center;
    padding-bottom: 20px;
}


/* responsive for phone or screen change*/
@media screen and (max-width: 768px) 
{
    .page .it
{ 
   flex-direction: column;
}
.page .it .pic
{
  
   width: 100%; 
}    
}

@media  screen and (max-width: 768px) 
{
    .page .heading
{
 width: 100%;
}

.page .heading h3
{
   font-size: 1em;
 
}

@media screen {
    
}


/* more button on the bottom for page 2 and 3*/
}
.page .btn
{
    margin: 40px 0 70px 0;
    background-color: #cfec27;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-size:1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}


/* main section for page 4 and 5 */
.image4
{
    
    display:flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    top: 2em;
}


/* paragrap styling*/
.image4 .p4 
{
    
    margin-left: 130px;
    margin-right: 130px;
    padding: 10px;
   
}



/* page 4 and 5 items in the screen like heading, images and paragraphs */
.image4 .place4
{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center; 
    padding-bottom: 5px;    
}



/* targating image section on page 4 and 5 */
.image4 .IMGS4
{
    border: 7PX solid rgb(147, 160, 83);
   
    position: relative;
    align-items: center;
    width: 80%;
    height: auto;   
}

p
{
    font-size: larger;
}


/* targaing the img or pictures themselves */
.image4 .IMGS4 img
{ 
    width: 100%;     
}


/* section for contact page  */
.contactp
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


/* section inside contactp*/
.contact
{
    display: flex;
    width: 80%;
}


/* left section in contact page*/
.Left
{
    width: 50%;
    padding: 20px;
    background-color: #D681DD;
}


/* heading for left side in contact page */
.Left h2 
{
    text-align: center;
}


/*  labels for contact page for left side*/
.Left label
{
    display: block;
    margin-top: 10px;
}

.Left input [type="text"],
.Left input [type="email"],
.Left input [type="phone"],
.Left select,
.Left textarea
{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid greenyellow;
    border-radius: 5px;
}


.Left label[for="message"]
{
    display: block;
}

.Left input[type="radio"]
{
    margin-right: 5px;  
}

 .Suscribelbl 
{
    display:block;
    font-weight: bold;
}

.yn
{
    display: flex;
}


/* submit butoon */
.Left button
{
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}


/* submit button turns green when hovered */
.Left button:hover
{
    background-color: rgb(127, 150, 93)
}


/* right side of the contact page */
.right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 180px;
    padding-left: 250px;
    padding-top: 50px;
}




/* class for radio button for Mrs and Mr */ 
.title
{
    display:flex;
    font-weight: bold;
}


