

body.home
{
background-image: url("imgs/Avenida\ de\ liberdade.jpg");
background-size: cover;
background-attachment: fixed;
background-position: center;

}

ul
{
 
 display: flex;
 list-style-type: none;
 align-content: right;
 justify-content: right;
 position: relative;
 top: 20px; 
}

li
{
   
    font-size: 1.5em;
    display: flex;
    height: 10px;
    margin: 15px;   
}

a
{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

a:hover
{
    color: yellowgreen;
}

.logo
{
 position: absolute;
  top: 30px;
  left: 20px;
}

body.detailP1
{
    background-color: #C3B8B8;
}
*{
    box-sizing: border-box;
}

.image
{
    display: inline-block;
    border: 3PX solid rgb(147, 160, 83);
    float: left;
    margin: 5px;
    padding: 5px;
    width: 600px;
    height: fit-content;
    position: relative;
    left: 2EM;
    top: 2em;
 
}



.image .place
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;  
    text-align: center; 
    padding-bottom: 5px;    
}


.image .p
{
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    position: relative;
    text-align:center;    
}

.image .IMGS
{
    position: relative;
    align-items: center;
    left: 155px;
    width: 50%;
    height: auto;   
}


.image2
{  
    
    border: 3PX solid rgb(147, 160, 83);
    margin: 5px;
    padding: 5px;
    width: 600px;
    height: fit-content;
    position: relative;
    right: 39em;
    top: -22em;
}


.image2 .IMGS2
{
    position: relative;
    align-items: center;
    left: 200px;
    width: 30%;
    height: auto;   
}

.image2 .place2
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;  
    text-align: center; 
    padding-bottom: 5px;    
}

.p2 
{
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    float: left;
    text-align:center;    
}

section .image3
{  
    
    border: 3PX solid rgb(147, 160, 83);
    margin: 5px;
    padding: 5px;
    width: 600px;
    height: auto;
    position: relative;
    align-items: center;
    right: 77em;
    top: -24.8em;
}

.image3 .place3
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;  
    padding-bottom: 5px; 
    
    
}


.image3 .IMGS3
{

    width: 50%;
    height: auto; 
}


.p2
{  
    border: 3PX solid rgb(147, 160, 83);
    
    margin: 5px;
    padding: 5px;
    width: 600px;
    position: relative;
    right: 39em;
    top: -22em;
}

.li2
{
    
}