*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.box { 
  width: 00px;
  height: 00px;
  font-size: 50px;
  text-align: center;
  margin: 00px;
  padding: 20px;
  
}

.left {
width: 25%;
background-color: lightseagreen;
}

.center 
{
width: 50%;
background-color: lightblue;
}

.right {
width: 25%;
background-color: lightseagreen;  
}


section {
  display: flex;
  flex-grow: 1;
}


body  {
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

header,footer {
  min-height: 60px;
  background-color: lightgreen;

}

footer {
  background-color: lightcoral;
}

width: 1000px;
  height: 800px;
  border: solid red 5px;
  justify-content: center;
  align-items: center;

  