
body { 
    background-image: url ("G:\OneDrive - Hogeschool Inholland\IT\TERM 1\WEB MARKUP\assignment\assessment2324\img\Avenida de liberdade.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}